.loginRoot{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .loginCard{
        width: 400px;
        height: 300px;
        padding: 15px 0;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        img{
            width: 150px;
            cursor: pointer;
        }
    }
}